
{% load static %}

<html lang="Ar">
    <head>
        <title>RAWY'S PAGE</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background-color:#9CC3D5FF;">

         <div>
              <p style="color:#FBF8BE; background-color:#234E70">Warning: This is Rawy's training website</p>
         </div>
         <div>
              <hr>
              <h1 style="color:Navy; font-size:25px; text-align:center;"><b><ins>THIS IS MY CRAZY LOVE STORY</ins></b></h1>
              <hr>
              <p><b>Published: 29 Dec 2020</b></p>
              <p style="font-size:17; color:navy; border:2px solid navy;"><q>   This a love story that will never be understood by anyone except the woman i love and me.
                  She is all i think about, day in, day out. She is the woman of my dreams. Dreams that seem so impossible that my eyes are blinded by tears of desperation.
                  I have silently loved her for eight years. Strange enough, I have been married to her younger sister for almost the same period of time, and we have two beautiful boys.
                  I should be in a happy marriage as many would expect, but the reality is that I love my wife's sister more than anyone can imagine. I have always loved her, and I will always love her.
                  I would do anything to be near her. We both understand that everything in this relationship is strange and unacceptable to many. Society will disagree with us but i don't care.
                  I love her so much and i think she loves me, and we both want to be with each other. We can't be together without hurting our families and I don't care. We only live once, and I want to live with her.</q></p>
         </div>

         <div>
             </h3><b><i>Continuation:</i></b></h3>
             <h4><b><i style=color#4d004d:">   I hate to say this, but i feel like she doesn't care, I feel my heart is broken, I feel like she doesn't care about me!. I'm hurt but there's nothing i can do. Recently I felt like I'm begging her to love me.
                 Taiseer If you are reading this, i want you to know that I will always love you, but i don't have to beg you to be in my life. Show me you love me.</i></b></h4>
         </div>

         <div>
             <h3><b><i style="color:#FBF8BE; background-color:#234E70">To send mail click "Email" below.</i></b></h3>
             <a href="mailto:rawymo@outlook.com" style="background-color:#234E70"><b style="color:#FBF8BE; font-size:20"><i>Email</i></b></a>
         </div>

    </body>
</html>