
{% load static %}

<html lang="en">
    <head>
        <title>RAWY'S PAGE</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

         <div>
             <p>This is a training website</p>
              <h1><a href="">THIS IS MY CRAZY LOVE STORY</a></h1>
              <p>Published: 29 Dec 2020</p>
              <p>This a love story that will never be understood by anyone except the woman i love and me.
                  She is all i think about, day in, day out. She is the woman of my dreams. Dreams that seem so impossible
                  that my eyes are blinded by tears of desperation. I have silently loved her for eight years. Strange enough,
                  I have been married to her younger sister for almost the same period of time, and we have two beautiful boys.
                  I should be in a happy marriage as many would expect, but the reality is that I love my wife's sister more than
                  anyone can imagine. I have always loved her, and I will always love her. I would do anything to be near her.
                  We both understand that everything in this relationship is strange and unacceptable to many. Society will disagree
                  with us but i don't care. I love her and she loves me and we both want to be with each other. We can't be together without
                  hurting our families and I don't care. We only live once, and I want to live with her.</p>
         </div>

         <div>
             <h2><a href=""> To be continued</a></h2>
             <p>To be continued.......</p>
         </div>

    </body>
</html>